
.card-header{
    padding: 20px;
    .card-title{
        text-align: center;
        font-size: 32px;
    }
}

.card-body{
    padding-left: 24px;
    padding-right: 24px;
}

.card-footer{
    text-align: center;
    padding: 20px;
}

.item-top{
    width:100%;
    position:relative;
    padding: 4px;
    .item-title{
        font-family: Roboto; //harusnya poppins
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 47px;
    }
    .item-add{
        width:24px;
        height:24px;
        float:right;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);right: 0%;
    }
}
.item-list{
    margin-top: 10px;
    margin-bottom: 20px; 
    width:100%;
    align-content: center;
    justify-content: center;
    color: #B0BEC5;
}
.isEmpty{
    text-align: center;
}