
.card-header{
    padding: 20px;
    .card-title{
        text-align: center;
        font-size: 32px;
    }
}

.card-body{
    padding-left: 24px;
    padding-right: 24px;
}

.card-footer{
    text-align: center;
    padding: 20px;
}